<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetCities</servlet-name>
        <servlet-class>servlets.GetCities</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCities</servlet-name>
        <url-pattern>/GetCities</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Calculate</servlet-name>
        <servlet-class>servlets.Calculate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculate</servlet-name>
        <url-pattern>/Calculate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadXML</servlet-name>
        <servlet-class>servlets.LoadXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadXML</servlet-name>
        <url-pattern>/LoadXML</url-pattern>
    </servlet-mapping>
</web-app>